<div fxLayout="column" fxFlexFill>
    <div fxLayout="row" fxLayoutAlign="start, center" class="header">
        <div fxFlex="1 1 auto"></div>
        <button mat-icon-button
                fxFlexAlign="center"
                class="shopping-cart-button"
                (click)="sidenav.toggle()">
            <mat-icon [matBadge]="(cartService.cart | async)?.count"
                      matBadgeColor="warn"
                      class="shopping-cart-icon">
                shopping_cart
            </mat-icon>
        </button>
    </div>
    <mat-sidenav-container fxLayout="column" fxFlex="1 1 0" fxFlexFill>
        <mat-sidenav #sidenav mode="side" position="end" [(opened)]="opened">
            <cart-list></cart-list>
        </mat-sidenav>

        <mat-sidenav-content>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>



