
.header {
    height: 54px;
    background: #3A6178;
}

.shopping-cart-button {
    margin-right: 20px;
    color: #fafafa;
}

.title {
    margin-left: 10px;
    color: #fafafa;
}

mat-sidenav {
    width: 50%;
    min-width: 350px;
    background: #fafafa;
    padding: 0px 20px 20px 0px;
}
