<div fxLayout="column" fxFlexFill>
    <div fxLayout="row" fxLayoutAlign="start, center" class="header">
        <div fxFlex="1 1 auto"></div>
        <button mat-icon-button
                fxFlexAlign="center"
                class="shopping-cart-button"
                (click)="sidenav.toggle()">
            <mat-icon matBadge="20"
                      matBadgeColor="warn"
                      class="shopping-cart-icon">
                shopping_cart
            </mat-icon>
        </button>
    </div>
    <mat-sidenav-container fxFlex="1 1 auto">
        <mat-sidenav #sidenav mode="over" position="end" [(opened)]="opened">
        </mat-sidenav>

        <mat-sidenav-content>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>



